{
    "certPath": "./certs/<your-cert>-certificate.pem.crt",
    "keyPath": "./certs/<your-cert>-private.pem.key",
    "caPath": "./certs/AmazonRootCA1.pem",
    "endpoint": "<your_endpoint>-ats.iot.<your_region>.amazonaws.com"
}